{% extends "layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="home">
			<div class="home__card jumbotron">
				{% include "components/home/welcomeCard.html" %}
			</div>
			<div class="home__card jumbotron">
				{% include "components/home/membersCard.html" %}
			</div>
			<div class="home__card jumbotron">
				{% include "components/home/advertisementCard.html" %}
			</div>
			<div class="home__card jumbotron">
				{% include "components/home/advertisementCard.html" %}
			</div>
			<div class="home__card jumbotron">
				{% include "components/home/advertisementCard.html" %}
			</div>
			<div class="home__card jumbotron">
				{% include "components/home/moreCard.html" %}
			</div>
		</div>
	</div>
{% endblock %}
