{% import "mixins/flash-messages.html" as FM %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title | default("acfda-site") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		{# Customise the stylesheet for your site by editing /public/styles/site.sass #}
		<link href="/styles/site.css" rel="stylesheet">

		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}

		{# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		   Safely remove this block if you are not targeting IE8 #}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}{% endblock %}
	</head>
	<body>

		{% block banner %}
		<header id="banner" class="banner container">

			<div class="banner__images">
				<a href='#' class="banner__images_logo">
					<img class="logo__media" src="images/logoACFDA.jpg"/>
				</a>
				<img class="banner__images_frise" src="images/bannerACFDA.jpg"/>
			</div>

			<h1 class="banner__title"><span class="banner__title--capitalize">A</span>ssociation des <span class="banner__title--capitalize">C</span>hargés de <span class="banner__title--capitalize">F</span>iguration et de <span class="banner__title--capitalize">D</span>istribution <span class="banner__title--capitalize">A</span>rtistique</h1>

		</header>
		{% endblock %}

		{# HEADER #}
		<div id="header" class="container">

			{# Customise your site"s navigation by changing the navLinks Array in ./routes/middleware.js
			   ... or completely change this header to suit your design. #}
			<nav role="navigation" class="menu navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<img class="navbar-header__frise" src="images/bannerACFDA.jpg"/>
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-left">
							{% for link in navLinks %}
								<li class="{{ 'active' if link.key == section else '' }}">
									<a class="nav__item" href="{{ link.href }}">{{ link.label }}</a>
								</li>
							{% endfor %}
						</ul>
						<ul class="nav navbar-nav navbar-right">
							{% if user %}
								{% if user.canAccessKeystone %}
								<li><a class="nav__item" href="/keystone">Admin</a></li>
								{% endif %}
								<li><a class="nav__item" href="/keystone/signout">Déconnexion</a></li>
							{% else %}
								<li><a class="nav__item" href="/keystone/signin">Connexion</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<div class="container news">
			<p class="news__title">News</p><!--
			--><p class="news__info">Brave particles, to the parallel universe. Make it so, history! Alarm at the colony that is when bare emitters harvest.</p>
		</div>

		{# BODY #}
		<main id="body">
			{# NOTE:
			   There is no .container wrapping class around body blocks to allow more flexibility in design.
			   Remember to include it in your templates when you override the intro and content blocks! #}

			{# The Intro block appears above flash messages (used for temporary information display) #}
			{% block intro %}{% endblock %}

			{# Flash messages allow you to display once-off status messages to users, e.g. form
			   validation errors, success messages, etc. #}
			{{ FM.flashMessages(messages) }}

			{# The content block should contain the body of your template"s content #}
			{% block content %}{% endblock %}
		</main>


		{# FOOTER #}
		<footer id="footer" class="footer container">
			<p class="footer__links">©ACFDA 2016 - <a href="http://www.acfda.fr/component/content/article/9" target="_blank">Infos Légales</a> - <a href="http://keystonejs.com" target="_blank">Plan du Site</a></p>
		</footer>


		{# JAVASCRIPT #}

		{# jQuery 1.11.3 is included by default, and required by both Bootstrap
			and the KeystoneJS Content Editor. If you are not targeting IE8,
			you can upgrade to 2.1.4 (also bundled) for better performance. #}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>

		{# Customise which Bootstrap javascript files are served by including
			them specifically here, instead of bootstrap-3.3.5.min.js #}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>

		{# The KeystoneJS Content Editor provides support for ks-editable data attributes,
			which generate links to edit content for users who can access Keystone #}
		{% if user and user.canAccessKeystone %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}

		{# Add scripts that are globally required by your site here. #}

		{# Include template-specific javascript files by extending the js block #}
		{% block js %}{% endblock %}
	</body>
</html>
