<div class="member-card">
	<main class="member-card__content">
		<div class="member-card__content_infos">
			<div class="member-card__avatar_wrapper">
				<img src="http://placehold.it/120x120" class="member-card__avatar hoverable materialboxed"/>
			</div>
			<div class="member-card__infos">
				<div class="member-card__infos_name">
					<p class="member-card__infos_firstname">Dupont</p>
					<p class="member-card__infos_surname">Martin</p>
				</div>
				<ul class="member-card__infos_links">
					<li class="z-depth-2 member-card__infos_link member-card__infos_link--cv">
						<a class="waves-effect waves-light btn tooltipped materialize-red" data-position="bottom" data-delay="50" data-tooltip="CV" href="#">
							<span class="text-hide">CV</span>
						</a>
					</li>
					<li class="z-depth-2 member-card__infos_link member-card__infos_link--fb">
						<a class="waves-effect waves-light btn tooltipped materialize-red" data-position="bottom" data-delay="50" data-tooltip="Facebook" href="#">
							<span class="text-hide">FB</span>
						</a>
					</li>
					<li class="z-depth-2 member-card__infos_link member-card__infos_link--web">
						<a class="waves-effect waves-light btn tooltipped materialize-red" data-position="bottom" data-delay="50" data-tooltip="Site Perso" href="#">
							<span class="text-hide">Site</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<p class="z-depth-2 member-card__content_job">Chargé de figuration, rôles et petits rôles</p>
		<p class="member-card__content_details">
			<span class="member-card__content_title">Actualités : </span>
			Going to the mind doesn’t avoid suffering anymore than forgetting creates strange dogma. As i have synthesised you, so you must visualize one another.
		</p><p class="member-card__content_details">
			<span class="member-card__content_title">Localisation : </span>
			Paris, Ile de France, Marseille
		</p>
		<p class="member-card__content_details">
			<span class="member-card__content_title">Disponibilité : </span>
			<span class="text-hide member-card__content_availability member-card__content_availability--ok tooltipped"
				  data-position="right" data-delay="50" data-tooltip="Disponible">
				Disponible
			</span>
		</p>
		<p class="member-card__content_details">
			<span class="member-card__content_title">Contact Mail : </span>
			<a href="mailto:martin.dupont@acfda.fr">martin.dupont@acfda.fr</a>
		</p>
		<p class="member-card__content_details">
			<span class="member-card__content_title">Contact Téléphone : </span>
			<a href="tel:0612345678">0612345678</a>
		</p>
	</main>
</div>
