.member-card{
  height: 100%;
  display: flex;
  flex-direction: column;
  &__title {
	margin: 20px 20px 0;
	font-family: $font-serif;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
  }
  &__content {
	flex: 1;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&_availability {
	  &--ok {
		&::after {
		  content: '';
		  background-color: color("green", "base");
		  position: absolute;
		  border-radius: 50%;
		  height: 12px;
		  width: 12px;
		  top: calc(50% - 6px);
		}
	  }
	}
	&_infos {
	  display: flex;
	  margin: 0 10px;
	}
	&_job {
	  margin-top: 15px;
	  text-align: center;
	  font-size: 1.4rem !important;
	  font-weight: bold !important;
	  color: $color-white;
	  background-color: color("materialize-red", "base");
	}
	&_details {
	  position: relative;
	  margin: 0 20px;
	  font-size: 1.4rem !important;
	}
	&_title {
	  font-size: 1.4rem !important;
	  margin: 0;
	  font-weight: bold;
	  text-transform: uppercase;
	}
  }
  &__footer {
	text-align: center;
	margin: 0 20px 10px;
	&_link {
	  font-size: 1.4rem;
	  text-transform: uppercase;
	}
  }
  &__avatar {
	display: block;
	margin: 0 auto;
	width: 120px;
	height: 120px;
	border-radius: 2px;
	&_wrapper {
	  width: 50%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
  }
  &__infos {
	display: flex;
	flex-direction: column;
	width: 50%;
	&_name {
	  text-align: center;
	}
	&_firstname {
	  font-size: 1.4rem !important;
	  font-weight: bold !important;
	  margin-bottom: 0 !important;
	}
	&_surname {
	  font-size: 1.4rem !important;
	  margin-bottom: 0 !important;
	}
	&_links {
	  align-items: center;
	  flex: 1;
	  display: flex;
	  justify-content: space-around;
	  list-style: none;
	}
	&_link {
	  position: relative;
	  text-align: center;
	  a {
		position: relative;
		display: block;
		width: 35px;
		height: 35px;
		margin: 0 auto;
		padding: 0;
	  }
	  &--cv {
		a::after {
		  position: absolute;
		  font-family: $font-material-icons;
		  font-size: 30px;
		  content: '\e24d';
		  display: block;
		  top: 0;
		  left: 2px;
		}
	  }
	  &--fb {
		&:hover, &:focus {
		  a::after {
			background-image: url('../../../../images/facebook_hover.svg');
		  }
		}
		a::after {
		  position: absolute;
		  background-image: url('../../../../images/facebook.svg');
		  height: 30px;
		  width: 30px;
		  content: '';
		  display: block;
		  top: 3px;
		  left: 3px;
		}
	  }
	  &--web {
		a::after {
		  position: absolute;
		  font-family: $font-material-icons;
		  font-size: 30px;
		  content: '\e051';
		  display: block;
		  top: 0;
		  left: 2px;
		}
	  }
	}
  }
}
