.more-card {
	height: 100%;
	display: flex;
	&__link {
		margin: auto;
		position: relative;
		font-size: 2.4rem !important;
		text-align: center;
		font-weight: bold !important;
		text-transform: uppercase;
		padding-left: 65px;
		&::after {
			font-family: $font-material-icons;
			font-size: 40px;
			content: '\e148';
			display: block;
			width: 54px;
			height: 54px;
			position: absolute;
			left: 7px;
			top: 0;
		}
	}
}
