<div class="advertisement-card">
	<header class="advertisement-card__title">
		<p class="advertisement-card__title_primary">Homme Athlétique 35 ans</p>
		<p class="advertisement-card__title_secondary">Série Plus Belle La Figuration</p>
	</header>
	<main class="advertisement-card__content">
		<p class="advertisement-card__content_publication">Publié par Charlotte Martin le 15 Février 2016</p>
		<p class="z-depth-2 advertisement-card__content_contact"><span class="advertisement-card__content_contact--title">Contact : </span>charlotte.martin@gmail.com</p>
		<p class="advertisement-card__content_edito">Not wonderland or chaos, emerge the trust. You have to exist, and yearn conclusion by your rising. When one needs trust and harmony, one is able to invent relativity.</p>
		<ul class="advertisement-card__content_images">
			<li class="advertisement-card__image_wrapper">
				<img class="z-depth-2 hoverable materialboxed" src="http://placehold.it/280x400"/>
			</li>
			<li class="advertisement-card__image_wrapper">
				<img class="z-depth-2 hoverable materialboxed" src="http://placehold.it/400x280"/>
			</li>
			<li class="advertisement-card__image_wrapper">
				<img class="z-depth-2 hoverable materialboxed" src="http://placehold.it/500x500"/>
			</li>
		</ul>
	</main>
	<footer class="advertisement-card__footer">
		<a class="waves-effect waves-light btn materialize-red advertisement-card__footer_link" href="#">Plus d'infos</a>
	</footer>
</div>
