<div class="advertisement">
	<header class="advertisement__title">
		<p class="advertisement__title_primary">Homme Athlétique 35 ans</p>
		<p class="advertisement__title_secondary">Série Plus Belle La Figuration</p>
	</header>
	<main class="advertisement__content">
		<p class="advertisement__content_publication">Publié par Charlotte Martin le 15 Février 2016</p>
		<p class="advertisement__content_contact"><span class="advertisement__content_contact--title">Contact : </span>charlotte.martin@gmail.com</p>
		<p class="advertisement__content_edito">Not wonderland or chaos, emerge the trust. You have to exist, and yearn conclusion by your rising. When one needs trust and harmony, one is able to invent relativity.</p>
		<ul class="advertisement__content_images">
			<li class="advertisement__image_wrapper"><img src="http://placehold.it/70x100"/></li>
			<li class="advertisement__image_wrapper"><img src="http://placehold.it/70x100"/></li>
			<li class="advertisement__image_wrapper"><img src="http://placehold.it/70x100"/></li>
		</ul>
	</main>
	<footer class="advertisement__footer">
		<a class="advertisement__footer_link" href="#">Plus d'infos</a>
	</footer>
</div>
