<div class="members">
	<header class="members__title">Découvrez ce membre</header>
	<main class="members__content">
		<div class="members__content_infos">
			<div class="members__avatar_wrapper">
				<img src="http://placehold.it/120x120" class="members__avatar"/>
			</div>
			<div class="members__infos">
				<div class="members__infos_name">
					<p class="members__infos_firstname">Dupont</p>
					<p class="members__infos_surname">Martin</p>
				</div>
				<ul class="members__infos_links">
					<li class="z-depth-2 members__infos_link members__infos_link--cv">
						<a class="waves-effect waves-light btn tooltipped materialize-red" data-position="bottom" data-delay="50" data-tooltip="CV" href="#">
							<span class="text-hide">CV</span>
						</a>
					</li>
					<li class="z-depth-2 members__infos_link members__infos_link--fb">
						<a class="waves-effect waves-light btn tooltipped materialize-red" data-position="bottom" data-delay="50" data-tooltip="Facebook" href="#">
							<span class="text-hide">FB</span>
						</a>
					</li>
					<li class="z-depth-2 members__infos_link members__infos_link--web">
						<a class="waves-effect waves-light btn tooltipped materialize-red" data-position="bottom" data-delay="50" data-tooltip="Site Perso" href="#">
							<span class="text-hide">Site</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<p class="z-depth-2 members__content_job">Chargé de figuration, rôles et petits rôles</p>
		<p class="members__content_details"><span class="members__content_title">Actualités : </span>Going to the mind doesn’t avoid suffering anymore than forgetting creates strange dogma. As i have synthesised you, so you must visualize one another.</p>
	</main>
	<footer class="members__footer">
		<a class="waves-effect waves-light btn materialize-red members__footer_link" href="#">Voir tous les membres</a>
	</footer>
</div>
