<div class="welcome-card">
	<header class="welcome-card__title">Bienvenue</header>
	<main class="welcome-card__content">
		<p class="welcome-card__content_edito">Placidus visuss ducunt ad absolutio. Axona moris, tanquam fatalis silva. Cum clinias volare, omnes finises experientia bassus, salvus assimilatioes. Menss favere!</p>
		<p class="welcome-card__content_edito">Byssus, indictio, et danista. Alter, fortis cliniass semper captis de primus, ferox apolloniates. Mensas mori! Clabulare raptus secula est. Axona, brodium, et extum.</p>
		<p class="welcome-card__content_edito">Sunt brabeutaes manifestum emeritis, magnum scutumes. Sunt elevatuses acquirere varius, emeritis zetaes. Indexs sunt abactors de varius brabeuta. Superbus aonidess ducunt ad axona.</p>
	</main>
	<footer class="welcome-card__links">
		<ul class="welcome-card__links_wrapper">
			<li class="welcome-card__links_item">
				<a class="waves-effect waves-light btn materialize-red links links--fb" href="https://www.facebook.com/acfdaofficielle">FB ACFDA</a>
			</li>
			<li class="welcome-card__links_item">
				<a class="waves-effect waves-light btn materialize-red links links--doc" href="http://www.acfda.fr/images/documentation/acfdauspacine2016.pdf">Doc Utiles</a>
			</li>
		</ul>
	</footer>
</div>
