html {
	font-size: 62.5%;
}

body {
	color: $color-white;
	background-color: $color-grey_darken-4;
}
ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

#header {
	margin-top: 10px;
}

#footer {
	border-top: 1px solid #eeeeee;
	padding-top: 10px;
	margin-top: 5px;
	color: #777777;
}

.jumbotron {
	margin-top: 10px;
	margin-bottom: 10px;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
